/*----------HTML & BODY----------*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #ffcbff;
    display: flex;
    flex-direction: column;
}

/*----------HEADER----------*/

header {
    max-height: 102%;
    max-width: 100%;
    background-color: #197ceead;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: auto;
}

.barra-nav a {
    height: 43px;
    width: 45px;
    margin-left: 8px;
}

.barra-nav img {
    width: 100%;
    height: 100%;
}

.barra-nav h1 {
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

/*----------MAIN----------*/

main {
    flex: 1;
    padding: 20px;
    max-width: 100%;
    background-color: #ffffff;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

section .principal {
    background-color: #dee2e6;
    padding: 20px;
    max-width: 100%;
}

.principal h1  {
    font-size: 50px;
    text-align: center;
}

.principal h2 {
    margin-top: 10%;
}

.principal img{
    margin-left: 15px;
    width: 80%;
    height: 80%;
}

.principal p {
    font-size: large;
    font-size: 22px;
}

section .grupo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 4%;
  gap: 20px;
}

.posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  height: 300px;
  width: 500px;
  border: 3px solid ;
  border-radius: 15px;
}

.botao {
  justify-items: center;
  height: auto;
}

.buttonpage {
  display: flex;
  height: auto;
  max-width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  padding: 5px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 10px;
  letter-spacing: 2px;
  transition: all .35s;
}
  
.buttonpage span {
  position: relative;
  z-index: 2;
}
  
.buttonpage:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #197ceead;
  transition: all .35s;
  border-radius: 8px;
}
  
.buttonpage:hover {
  color: #ffffff;
}
  
.buttonpage:hover:after {
  width: 100%;
  height: 100%;
}

/*----------FOOTER----------*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #014f86;
    max-height: 100%;
    max-width: 100%;
    padding: 20px;
}

.rodape div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    height: 20px;
}

.rodape a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
}

.rodape p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}




