/*----------HTML & BODY----------*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #ffcbff;
    display: flex;
    flex-direction: column;
}

/*----------HEADER----------*/

header {
    max-height: 102%;
    max-width: 100%;
    background-color: #197ceead;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: auto;
}

.barra-nav a {
    height: 43px;
    width: 45px;
    margin-left: 8px;
}

.barra-nav img {
    width: 100%;
    height: 100%;
}

.barra-nav h1 {
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

/*----------MAIN----------*/

main {
    padding: 20px;
    max-width: 100%;
    background-color: #ffffff;
}

.container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

section .grupos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.botao{
    background: #f8f9fa;
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 2px 8px #197ceead;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.botao h3 {
    margin-bottom: 10px;
}

.botao ul {
    list-style: none;
    padding: 0;
}

.botao ul li {
    margin: 5px 0;
}



/*----------FOOTER----------*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #014f86;
    max-height: 100%;
    max-width: 100%;
    padding: 20px;
}

.rodape div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    height: 20px;
}

.rodape a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
}

.rodape p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}











